/* Home Page */


position: relative;
width: 1440px;
height: 1988px;

background: #FFFFFF;


/* Adoptions */


position: relative;
width: 1440px;
height: 1988px;

background: #FFFFFF;

/* Adoptions Page 2 */


position: relative;
width: 1440px;
height: 3259px;

background: #FFFFFF;
