/* Home Page */


position: relative;
width: 1440px;
height: 1988px;

background: #FFFFFF;

h1 {
    font-family: 'Itim', cursive;

}

h2 {
    font-family: 'Catamaran', sans-serif;
    font-size: 72px;
    color: #ffffff;

}


a {
    color: #000000;
    font-family: 'Catamaran', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    text-decoration: none;
    padding-right: 50px;
}

p {
    font-family: 'Catamaran', sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
}


#mainbackground {
    background-image: url(Images/Home Banner.png);

    height: 684px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* Adoptions */


position: relative;
width: 1440px;
height: 1988px;

background: #FFFFFF;

/* Adoptions Page 2 */


position: relative;
width: 1440px;
height: 3259px;

background: #FFFFFF;

/* Donations */

h1 {
    font-family: 'Itim', cursive;

}

h2 {
    font-family: 'Catamaran', sans-serif;
    font-size: 72px;
    color: #ffffff;

}


a {
    color: #000000;
    font-family: 'Catamaran', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    text-decoration: none;
    padding-right: 50px;
}

p {
    font-family: 'Catamaran', sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
}


footer ul {
    color: #1E2833;
    font-family: 'Catamaran', sans-serif;
    font-size: 15px;
    line-height: 40px;
    list-style-type: none;
    padding: 0px;


}

h3 {
    color: #96ABB0;
    font-family: 'Catamaran', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

footer {
    background-color: #D7E0E7;
    height:
}

.mail {
    font-size: 20px;
    font-weight: normal;
    line-height: 38px;

}

.footer {
    color: #1E2833;
    font-size: 15px;
    text-align: center;

}

.blue {
    background-color: #E1E8ED;
}

.floatright {
    float: right;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.doing {
    list-style-type: circle;
}

#dog1 {
    background-image: url(Images/dog1.jpg);
    background-size: cover;
    background-repeat: none;
    height: 684px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#dog2text {
    font-family: 'Catamaran', sans-serif;
    font-size: 24px;
    background-color: #E1E8ED;
    padding: 50px;

}

#dog3text {
    font-family: 'Catamaran', sans-serif;
    font-size: 24px;
    background-color: #E1E8ED;
    padding: 50px;
}


#dog2 {
    background-image: url(Images/dog2.jpg);
    background-size: cover;
    background-repeat: none;
    grid-column-start: 1;
    grid-column-end: 2;
}

#dog3 {

    background-image: url(Images/dog3.jpg);
    background-repeat: none;
    background-size: cover;
    height: 611px;
    grid-column-start: 2;
    grid-column-end: 3;

}

.donateonline {
    font-family: 'Catamaran', sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 50px;
    background-color: #7AB24D;
    height: 70px;
    width: 265px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.donatecar {
    font-family: 'Catamaran', sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 50px;
    background-color: #7AB24D;
    height: 70px;
    width: 375px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

footer {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 70px;
}

.bio {
    font-size: 15px;
    padding-right: 30px
}

#id bio {
    grid-column-start: 1;
    grid-column-end: 2;

}


#about {
    grid-column-start: 2;
    grid-column-end: 3;
}


#follow {
    grid-column-start: 3;
    grid-column-end: 4;
}

/* Donations Page 2 */

#dog4 {
    background-image: url(images/dog4.jpg);
    background-size: cover;
    background-repeat: none;
    height: 230px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.info {
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.1);
    width: 592px;
    height: 46px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: flex-end;
    margin-bottom: 60px;
    padding-left: 10px;

}

.prices {
    background-color: #7AB24D;
    font-size: 24px;
    line-height: 40px;
    width: 114px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.pricesgroup {
    display: grid;
    grid-template-columns: 40% 40%;
    padding-left: 40px;
}

.paymentsbackground {
    background-color: #ffffff;
    font-size: 24px;
    line-height: 40px;
    width: 144px;
    height: 46px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.payments {
    display: grid;
    grid-template-columns: 50% 50%;

}

.infosection {
    padding-left: 40px;
    position: absolute;
    top: 420px;
    right: 430px;

}

.donatebutton {
    background-color: #7AB24D;
    font-size: 24px;
    line-height: 40px;
    width: 123px;
    height: 46px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.donatebuttonsection {
    padding-top: 80px;
    padding-left: 110px;

}

.paymenttypes {
    padding-left: 80px;
}

.amount {
    background-color: #ffffff;
    width: 203px;
    height: 47px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    display: flex;
    align-items: center;
    padding-left: 10px;

}

.amountsection {
    padding-left: 70px;
}

.donationbox {
    background-color: #ffffff;
    width: 404px;
    height: 600px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 40px;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;

}
